body{
    margin: 0;
    background: url('./img/fondo.png') no-repeat black;
    background-position-y: 20%;
    background-position-x: 20%;
    padding: 5%;
    color: white;
}

.logo{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    max-width: 50%;
}

/* COSAS GENERALES */

a{
    text-decoration: none;
}

button{
    padding: 8px;
    margin: 12px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    background-color: brown;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button:hover{
    cursor: pointer;
    color: rgba(219, 215, 215, 0.747);
}

button:focus{
    outline: none;
}

/* NAVBAR */

.nav-bar{
    background: rgba(172, 58, 58, 0.616);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: rgba(255, 255, 255, 0.705);
    display: flex;
    margin-bottom: 20px;
}

.nav-link{
    color: rgba(231, 231, 231, 0.603);
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    text-decoration: none;
    margin: auto;
}

.nav-link:hover{
    color: white;
}

/* MAIN */

.container{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
}

#slider{
    background: green;
    height: 100%;
    width: 100%;
}

.barra-lateral{
    flex: 1;
    text-align: left;
}

/* POST */

.contenido{
    flex: 3;
}

.post{
    background: rgba(138, 138, 138, 0.719);
    border-radius: 1px;
    margin: 20px;
    padding: 20px;
}

/* FOOTER */

.footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.footer a{
    justify-content: center;
    margin: auto;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.555);
    font-family: Arial, Helvetica, sans-serif;
}

.footer-text{
    text-align: center;
    font-size: 12px;
    margin: auto;
    width: 100%;
}

.footer-text p{
    width: 100%;
    text-align: center;
}