<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="icon" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/contacto.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title>Contacto</title>
</head>

<body>
    <nav>
        <input type="checkbox" id="nav" class="hidden">
        <label for="nav" class="nav-btn">
            <i></i>
            <i></i>
            <i></i>
        </label>
        <div class="logo">
            <a href="#">LE NOUVEL HEDONISME</a>
        </div>
        <div class="nav-wrapper">
            <ul>
                <li><a href="../index.html">NUEVO</a></li>
                <li><a href="./notas.html" id="nota-dropdown" >NOTAS</a>
                    <ul id="dropdown" >
                        <li><a href="#">Gastronomia</a></li>
                        <li><a href="#">Turismo</a></li>
                        <li><a href="#">Cultura</a></li>
                    </ul>
                </li>
                <li><a href="./editorial.html">EDITORIAL</a></li>
                <li><a href="#">CONTACTO</a></li>
            </ul>
        </div>
    </nav>
    <div class="mobile" id="mobile">
        <div class="imagen-principal mobile">
            <img src="./img/fondo-mobile.png" alt="fondo" width="100%">
            <h4 class="presentacion">REVISTA DIGITAL DE SEXO, DINERO, VIEJOS, CHINITAS Y MUCHOS AMORES.</h4>
        </div>
        <div class="nota-mobile mobile">
            <h3 class="titulo-nota">LUISITO TE CAMBIE POR OTROS</h3>
            <img src="http://a57.foxnews.com/images.foxnews.com/content/fox-news/food-drink/2018/07/20/some-napa-valley-wines-contain-traces-radioactive-particles-from-fukushima-study-finds/_jcr_content/par/featured_image/media-0.img.jpg/931/524/1532121975325.jpg?ve=1&tl=1"
                alt="wine" width="100%">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In tempora ipsam commodi beatae veritatis cum
                doloremque pariatur saepe sapiente temporibus? A id possimus architecto facere incidunt iure qui
                aspernatur totam.</p>
            <div class="ver-nota">
                <button>Ver nota</button>
            </div>
        </div>
        <div class="nota-mobile mobile">
            <h3 class="titulo-nota">MEPA SE RIE A CARCAJADAS LA ESCUCHA LA GUARDIA</h3>
            <img src="http://a57.foxnews.com/images.foxnews.com/content/fox-news/food-drink/2018/07/20/some-napa-valley-wines-contain-traces-radioactive-particles-from-fukushima-study-finds/_jcr_content/par/featured_image/media-0.img.jpg/931/524/1532121975325.jpg?ve=1&tl=1"
                alt="wine" width="100%">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In tempora ipsam commodi beatae veritatis cum
                doloremque pariatur saepe sapiente temporibus? A id possimus architecto facere incidunt iure qui
                aspernatur totam.</p>
            <div class="ver-nota">
                <button>Ver nota</button>
            </div>
        </div>
        <div class="nota-mobile mobile">
            <h3 class="titulo-nota">MI SOBRI ES EL MEJOR</h3>
            <img src="http://a57.foxnews.com/images.foxnews.com/content/fox-news/food-drink/2018/07/20/some-napa-valley-wines-contain-traces-radioactive-particles-from-fukushima-study-finds/_jcr_content/par/featured_image/media-0.img.jpg/931/524/1532121975325.jpg?ve=1&tl=1"
                alt="wine" width="100%">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In tempora ipsam commodi beatae veritatis cum
                doloremque pariatur saepe sapiente temporibus? A id possimus architecto facere incidunt iure qui
                aspernatur totam.</p>
            <div class="ver-nota">
                <button>Ver nota</button>
            </div>
        </div>
        <footer>
            <div class="footer">
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <p>Le Nouvel Hedonisme ©. Pagina web por <span>Sebastian Sarmiento</span>.</p>
            </div>
        </footer>
    </div>
    <div class="desktop" id="desktop">
        <div class="presentacion-desktop">
            <form id="contacto">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="">
                <label for="apellido">Apellido</label>
                <input type="text" name="apellido" id="">
                <label for="email">Email</label>
                <input type="email" name="email" id="">
                <label for="mensaje">Mensaje</label>
                <textarea type="text" name="mensaje" id=""></textarea>
                <button type="submit">Enviar</button>
            </form>
        </div>
        <footer>
            <div class="footer-desktop">
                <a href=""><i class="fab fa-facebook"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <p>Le Nouvel Hedonisme ©. Pagina web por <span>Sebastian Sarmiento</span>.</p>
            </div>
        </footer>
    </div>
    <script src="../js/contacto.js"></script>
    <script src="../js/navbar.js"></script>
</body>

</html>